.login{
    height: 200px;
    display: flex;
    justify-content: end;
    
    flex-wrap: row;
    gap: 25px;
    border: 3px dashed red;


}
.login .box1{
    height: 50px;
    width: 89px;

    border: 2px solid purple;
}
.login .box2{
    height: 38px;
    width: 98px;
    border: 3px solid grey;
}
.login .box3{
    height: 76px;
    width: 99px;
    border: 5px solid yellowgreen;
}