nav{
    display: flex;
    justify-content: space-between;
}
.itmes{
    display: flex;
    gap: 20px
    ;
} 
div{
    border: 2px;
    color: red
}
.shabbir{
    border: 2px red solid;
    width: 100px;
    

    



}
.shabbir input{
    display: flex;
    width: 30px;
}